/* HEAD */

div#banner {
	display: none;
}

div#head {
	height: 28.0vh;
	font-size: 12.0vh;
	background-size: 0px auto;
	border: 0px solid black;
	padding: 0px;
	margin: 0px;
}

div#innerhead {
	height: 28.0vh;
	font-family: arial, sans;
	padding: 0px;
	margin: 0px;
	border: 0px solid green;
}

div#highMonitor {
	font-family: arial, sans;
	font-size: 7.0vh;
	padding: 0px;
	margin: 0px;
	border: 0px solid red;
}

div#highMonitor > ol {
	margin: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 80px;
	padding-right: 0px;
	border: 0px solid yellow;
}

div#monitorFooter {
    position: absolute;
    bottom: 0px;
    height: 30vh;
	font-size: 15.0vh;
	font-family: arial, sans;
	padding: 0px;
	margin: 0px;
}

div#monitorFooter > img {
    height: 28vh;
	padding: 0px;
	margin: 0px;
}