/* HEAD */
div#banner {
	background-image: url(../gfx/logo_64.png);
	background-position: 5px center;
	background-repeat: no-repeat;
	padding-left: 74px;
	height: 64px;
	line-height: 64px;
	font-size: 30px;
}

div#head {
	height: 60px;
	padding: 0px;
	margin: 0px;
	overflow: hidden;
	border: 1px solid black;
}

div#innerhead {
	height: 60px;
	padding: 0px;
	margin: 0px;
	overflow: hidden;
}

/* accordion */
div#accordion > div > ol {
	padding: 0px;
	margin:0px;
	padding-left: 2.2em;
}

div#accordion > div > ul {
	padding: 0px;
	margin:0px;
	padding-left: 1em;
}

/* votecircle */
div#search > ul > li > img, 
div#browse-folders img.votecircle, 
div#browse-artists img.votecircle, 
div#browse-albums img.votecircle, 
div#browse-playlists img.votecircle, 
div#browse-often-playlists img.votecircle, 
div#high img.votecircle, 
div#browse-often-votes img.votecircle {
	height: 22px;
	vertical-align: middle;
	cursor: pointer;
}


/* browse-x */
div#browse-folders li.file {
	color: blue;
}

div#browse-folders li.goup, div#browse-artists li.goup, div#browse-albums li.goup, div#browse-playlists li.goup {
	color: red;
	cursor: pointer;
}

div#browse-folders span.current, div#browse-artists span.current, div#browse-albums span.current, div#browse-playlists span.current {
	color: green;
}

div#browse-folders li.folder, div#browse-artists li.artist, div#browse-albums li.album, div#browse-playlists li.playlist {
	cursor: pointer;
	color: #a50;
}

/* search */
div#search > ul > li {
	line-height: 22px;
}