div#head {
	
}

div#next {

}


div#auswahl > div > ol {
	padding: 0px;
	margin:0px;
	padding-left: 2.2em;
}

div#auswahl > div > ul {
	padding: 0px;
	margin:0px;
	padding-left: 1em;
}

div#banner {
	background-image: url(../gfx/logo_64.png);
	background-position: 5px center;
	background-repeat: no-repeat;
	padding-left: 74px;
	height: 64px;
	line-height: 64px;
	font-size: 30px;
}

