div#head {
	height: 60px;
	padding: 0px;
	margin: 0px;
	overflow: hidden;
	border: 1px solid black;
}

div#innerhead {
	height: 60px;
	padding: 0px;
	margin: 0px;
	overflow: hidden;
}

div#next {

}

body {

}

div#search > ul > li > img{
	height: 22px;
	vertical-align: middle;
}

div#search > ul > li {
	line-height: 22px;
}

div#auswahl > div > ol {
	padding: 0px;
	margin:0px;
	padding-left: 2.2em;
}

div#auswahl > div > ul {
	padding: 0px;
	margin:0px;
	padding-left: 1em;
}

div#banner {
	background-image: url(../gfx/logo_64.png);
	background-position: 5px center;
	background-repeat: no-repeat;
	padding-left: 74px;
	height: 64px;
	line-height: 64px;
	font-size: 30px;
}

